body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #555;
    background: #fff;
}
 /* Header styling */
.imageheader{
    background-image: url(images/asset/headphones_hero_1.jpg);
    width: auto;
    height: 700px;
    margin-bottom: 5px;
    display: block;
    top: 0;
    left: 0;

}
/* navigation styling */
.navigate{
    list-style-type: none;
    text-decoration: none;
    margin-left: 250px;
    overflow: hidden;
    float: inline-end;
    float: right;
    display: flex;
    text-align: center;
}

li a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: x-large;
}
/* Hero styling */
.hero{
     margin-top: -400px;
     color: white;
     position: block;
}

.one{
    margin-left: 200px;
    text-align: center;
    margin-bottom: 50px;
}
.one p{
    text-align: center;
    margin-bottom: 40px;
}
button{
    background-color: #FF6565;
    color: white;
    border-radius: 10px;
    padding: 8px 10px;
    font-weight: bold;
}
.two{
    text-align: center;
    margin-left: 200px;
}

@media (min-width: 1200px) {
  body.works_on_smartphone {
  	display: block;
  }
  body.works_on_smartphone main {
  	display: block;
  }
  header .right {
  	float: none;
  }
}

@media (min-width: 920px) {
  body.works_on_smartphone {
  	display: block;
  }
  body.works_on_smartphone main {
  	display: block;
  }
  header .right {
  	float: none;
  }
}
@media (min-width: 480px) {
  body.works_on_smartphone {
  	display: block;
  }
  body.works_on_smartphone main {
  	display: block;
  }
  header .right {
  	float: none;
  }
}
a:hover{
    color: #FF6565;
    opacity: 0.9;
}

a:visited{
    color: #FF6565;
    opacity: 0.9;
}
/* what we do styling */
#whatwedo{
    background-color: white;
    margin-left: 500px;
    margin-top: 1200px;
}
.three{
    text-align: center;
    padding: 10px;
    border: 50px;
    margin-top: 150px;
}
.four{
    display: flex;
    margin-left: 300px
}
.four p{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?sq4eq4');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?sq4eq4#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?sq4eq4') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?sq4eq4') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?sq4eq4##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.holberton_school-icon-ic_sound {
  &:before {
    content: "\e90e"; 
  }
}

.holberton_school-icon-ic_music {
  &:before {
  content: "\e90d"; /* Unicode for the music icon */
  font-family: 'HolbertonIcons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  font-size: 24px;
  color: #333;
  margin-right: 8px;
}
}
.holberton_school-icon-ic_hearing {
  &:before {
    content: "\e909"; /* Unicode for the hearing icon */
    font-family: 'HolbertonIcons';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    font-size: 24px;
    color: red;
    margin-right: 8px;
}
}
.holberton_school-icon-ic_video {
  &:before {
    content: "\e910";
    font-family: 'HolbertonIcons';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
     font-size: 24px;
     color: #333;
     margin-right: 8px;
  }
}

/* Our result styling */
#Ourresults{
    background-color: #333;
    height: 500px;
    color: white;
}

.three h3{
    padding: 20px;
    margin-top: 30px;
}
img{
    display: block;
}
.five{
    background-color: #333;
}
.six{
    justify-content: center;
    margin-left: 150px;
    align-items: center;
    text-align: center;
    border: 50px;
}
.six h3{
    text-align: center;
    font-size: larger;
    margin-top: 100px;
    padding: 40px;
}
.seven{
    background-color: #333;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.seven {
  display: flex;
  justify-content: center; /* or space-between */
  gap: 20px; 
  flex-wrap: wrap;
}

.overlay {
  position: relative;
  width: 200px; /* set your desired image width */
  height: 150px
}

.overlay img {
  object-fit: cover;
  display: block;
}

.overlaytext {
  position: absolute;
  margin-top: -20px;
  bottom: 50px;
  left: 29%;
  transform: translateX(-50%);
  font-size: xx-larger;
  font-weight: bold;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
}
.overlaytext1 {
  position: absolute;
  margin-top: -50px;
  bottom: 5px;
  left: 35%;
  transform: translateX(-50%);
  font-size: x-larger;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
}

/* contact section styling */
#contact {
    justify-content: center;

}
.form {
      width: 300px;
      margin: 50px auto; /* top-bottom: 50px, left-right: auto */
      padding: 20px;
      border-radius: 10px;
}
    label, input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
}
.form h2 {
    justify-content: center;
    margin-left: 100px;
}
label{
    font-weight: bold;
}
.btn{
    margin-left: 80px;
    margin-bottom: 50%;
    border: #FF6565;

}
/* Footer styling */
.footer {
  background-color: #0a0f23;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.footer .socials {
  margin-top: 10px;
}

.footer .socials a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}
.footer p{
    color: white;
    text-decoration: none;
}
footer a {
    color: #555;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
  }

  footer a:hover {
    color: #1877f2; /* blue for Facebook or default hover color */
  }
html {
  scroll-behavior: smooth;
}