body{
    margin: 0;
    padding: 0;
}

.imageheader{
    background-image: url(asset/image.png);
    width: auto;
    height: 1600px;
    border: 16px;
    padding: 16px 8px;
}

.imageheader a{
    color: white;
    font-size: xx-large;
}
.navigate{
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: inline-end;
    font-size: xx-large;
}
h1{
    font-size: xxx-large;
}
p{
    font-size: x-large;
    border-spacing: 10px;
    display: inline;
    
}
.box1 button{
    display: block;
    margin-top: 250px;
    color: white;
    background-color: #C271FF;
    border-radius: 10px;
    font-size: x-large;
    margin-left: 500px;
    padding: 10px;
}

li{
    float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container1{
    margin-top: -1310px;
    margin-left: 550px;
}
.bold{
    color: white;
    font-size: xx-large;
    margin-bottom: 0.5rem;
    padding: 0px;
}

.para{
    color: white;
    padding-left: 50px;
    display: flex;
    float: left;
    margin-right: 100px;
    margin-left: 100px;
    font-size: xx-large;
}

.box1 h1{
    margin-bottom: 100px;
    margin-left: 180px;
    font-size: 150px;
    color: white;
}

.box2{
    margin-top: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    color: white;
    padding: 3rem;
}

.box2 h1{
    color: white;
    margin-left: 100px;
}
.box2 strong{
    color:#C271FF ;
    margin-left: 300px;
}
.box21{
    display: flex;
    position: relative;
    margin-right: 20px;
    height: 100px;
    width: auto;
    padding: 0.5rem;
    margin-bottom: 50px;
    
}
.box2 div{
    display: inline-block;
    margin-left: 1px;
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 20px;
    
}
.box21 h3{
    margin-bottom: 0.5rem;
}
.one img{
    display: inline-block;
    width: 200px;
    padding: 50px;
    margin-bottom: 0px;
}
.box21 p{
    display: block;
    margin-top: 0px;
    margin-left: 1px;
    position: relative;
}
.container2{
    background-color: #C271FF;
    margin-top: -52px;
    color: white;
}
.container2 div{
    display: inline-block;
    padding: 50px;
}
.box3{
    display: block;
    margin-top: 10px;
    margin-left: 50px;
}
.box4{
    display: flex;
    position: relative;
    margin-top: 20px;
    padding-top: 0%;
    margin-left: 30px;
    float: right;
}
.box4 h4{
    font-size: xx-large;
}
.container3{
    padding: 10px;
    margin: 50px;
    width: 1228;
    height: 450px;
}
.container3 h1{
    margin-left: 700px;
}
.container3 strong{
    color: #C271FF;
}
.rate{
    display: flex;
}
.rate h3{
    color: #C271FF;
}
.rate a{
    border: 10px;
    padding-right: 5px;
}
.smiles{
    padding: 15px;
    word-wrap: break-word;
}
.two img{
    height: 150px;
}
.container4{
    margin-top: 600px;
    background-color: #071629;
    color: white;
    height: 650px;
}
.container4 strong{
    color: #C271FF;
}
.container4 h1{
    margin-left: 900px;
    margin-bottom: 100px;
}
.container4 div{
    display: inline-block;
    padding: 1rem;
    margin-left: 100px;
}
.container4 p{
    display: block;
}
.container4 button{
    display: block;
    margin-left: 900px;
    margin-top: 60px;
    font-size: xx-large;
    background-color: #C271FF;
    color: white;
    border-radius: 20px;
    
}
.container5 h1{
    margin-left: 900px;

}

.row-block{
    float: left;
    width: 440px;
    margin-left: 500px;
}
.item-block{
    width: 300px;
}

.item-block p{
    display: block;
    white-space: normal;
    padding: 1rem;
}
.last{
    margin-top: 1000px;
    background-color: #071629;
    height: 300px;
    color: white;
    display: block;
    padding: 50px;
}

.link img{
    height: 50px;
    width: 50px;
    float: left;
}

.link a{
    float: right;
    margin-left: 1500px;
}
.last p{
    display: block;
    position: relative;
    margin-top: 250px;
    margin-left: 900px;
    font-family: sourc;
}
@media (max-width: 800px) {
  body.works_on_smartphone {
  	display: block;
  }
}
@media (max-width: 768px) {
  body.works_on_smartphone {
  	display: block;
  }
}
  body.works_on_smartphone main {
  	display: block;
  }
.works_on_smartphone{
    flex-direction: column;
}