body{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: antiquewhite;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto; 
}

.logo{
    font-size: larger;
    margin-right: 20px;
}